.postsContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

    /* display: grid;
    grid-template-columns: .10fr .5fr .75fr 1fr .25fr;
    grid-template-rows: repeat(3, 1fr) 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  width: 95%;
}

.postCard{
  border: 2px solid lightgray;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 10px;
  max-width: 500px;
  
}



